{% extends '_template.html' %}

{% block title %}Media Center{% endblock %}

{% block head %}
  {% parent %}

{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-8">
      <button class="btn"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Play</button>
      <button class="btn"><span class="glyphicon glyphicon-pause" aria-hidden="true"></span> Pause</button>
      <button class="btn"><span class="glyphicon glyphicon-expand" aria-hidden="true"></span> Cast</button>
      <button class="btn"><span class="glyphicon glyphicon-resize-small" aria-hidden="true"></span> Hide</button>
      <hr/>

    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="jumbotron">
        <div class="container">
          Featured titles
        </div>
      </div>
    </div>
  </div>
	<div class="row">
		<div class="col-xs-12">
      <form class="form-inline">
        <label>Sort by:</label> <select class="form-control"><option>Added</option><option>Alphabetical</option></select>
      </form>
			<h4>My Media</h4>
      <div class="col-xs-6 col-md-2">
        <div class="thumbnail">
          <img class="poster" src="http://image.tmdb.org/t/p/w185/gNlV5FhDZ1PjxSv2aqTPS30GEon.jpg" alt="22 Jump Street">
          <div class="caption">
            <h4>22 Jump Street</h4>
            <p>Shalalalallaa</p>
            <p><a href="#" class="btn btn-primary" role="button">Play</a> <a href="#" class="btn btn-default" role="button">Info</a></p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-2">
        <div class="thumbnail">
          <img class="poster" src="http://image.tmdb.org/t/p/w185/gNlV5FhDZ1PjxSv2aqTPS30GEon.jpg" alt="22 Jump Street">
          <div class="caption">
            <h4>22 Jump Street</h4>
            <p>Shalalalallaa</p>
            <p><a href="#" class="btn btn-primary" role="button">Play</a> <a href="#" class="btn btn-default" role="button">Info</a></p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-2">
        <div class="thumbnail">
          <img class="poster" src="http://image.tmdb.org/t/p/w185/gNlV5FhDZ1PjxSv2aqTPS30GEon.jpg" alt="22 Jump Street">
          <div class="caption">
            <h4>22 Jump Street</h4>
            <p>Shalalalallaa</p>
            <p><a href="#" class="btn btn-primary" role="button">Play</a> <a href="#" class="btn btn-default" role="button">Cast</a></p>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-2">
        <div class="thumbnail">
          <img class="poster" src="http://image.tmdb.org/t/p/w185/gNlV5FhDZ1PjxSv2aqTPS30GEon.jpg" alt="22 Jump Street">
          <div class="caption">
            <h4>22 Jump Street</h4>
            <p>Shalalalallaa</p>
            <p><a href="#" class="btn btn-primary" role="button">Play</a> <a href="#" class="btn btn-default" role="button">Cast</a></p>
          </div>
        </div>
      </div>
      <div class="col-xs-4 col-md-2">
        <div class="thumbnail">
          <img class="poster" src="http://image.tmdb.org/t/p/w185/gNlV5FhDZ1PjxSv2aqTPS30GEon.jpg" alt="22 Jump Street">
          <div class="caption">
            <h4>22 Jump Street</h4>
            <p>Shalalalallaa</p>
            <p><a href="#" class="btn btn-primary" role="button">Play</a> <a href="#" class="btn btn-default" role="button">Cast</a></p>
          </div>
        </div>
      </div>
      <div class="col-xs-4 col-md-2">
        <div class="thumbnail">
          <img class="poster" src="http://image.tmdb.org/t/p/w185/gNlV5FhDZ1PjxSv2aqTPS30GEon.jpg" alt="22 Jump Street">
          <div class="caption">
            <h4>22 Jump Street</h4>
            <p>Shalalalallaa</p>
            <p><a href="#" class="btn btn-primary" role="button">Play</a> <a href="#" class="btn btn-default" role="button">Info</a></p>
          </div>
        </div>
      </div>
      <div class="col-xs-4 col-md-2">
        <div class="thumbnail">
          <img class="poster" src="http://image.tmdb.org/t/p/w185/gNlV5FhDZ1PjxSv2aqTPS30GEon.jpg" alt="22 Jump Street">
          <div class="caption">
            <h4>22 Jump Street</h4>
            <p>Shalalalallaa</p>
            <p><a href="#" class="btn btn-primary" role="button">Play</a> <a href="#" class="btn btn-default" role="button">Cast</a></p>
          </div>
        </div>
      </div>
      <div class="col-xs-4 col-md-2">
        <div class="thumbnail">
          <img class="poster" src="http://image.tmdb.org/t/p/w185/gNlV5FhDZ1PjxSv2aqTPS30GEon.jpg" alt="22 Jump Street">
          <div class="caption">
            <h4>22 Jump Street</h4>
            <p>Shalalalallaa</p>
            <p><a href="#" class="btn btn-primary" role="button">Play</a> <a href="#" class="btn btn-default" role="button">Cast</a></p>
          </div>
        </div>
      </div>
      <div class="col-xs-4 col-md-2">
        <div class="thumbnail">
          <img class="poster" src="http://image.tmdb.org/t/p/w185/gNlV5FhDZ1PjxSv2aqTPS30GEon.jpg" alt="22 Jump Street">
          <div class="caption">
            <h4>22 Jump Street</h4>
            <p>Shalalalallaa</p>
            <p><a href="#" class="btn btn-primary" role="button">Play</a> <a href="#" class="btn btn-default" role="button">Cast</a></p>
          </div>
        </div>
      </div>
		</div>
	</div>
{% endblock %}
{% block foot %}
<!-- in page scripts here -->
{% endblock %}
